<p id="notice"><%= notice %></p>
<div class="container current">
  <h2><%= @query.address_string %></h2>
  <h2>Expect <%= @summary%></h2><br>

  <div class="weather-data">
    <p>Weather now</p>
    <% @currently.each do | category, data | %>
      <p><%= "The #{category} is currently #{data}." %></p>
    <% end %>
    <br><br><br>
    <h3>Forecast:</h3>
    <% @daily.each do |category, data| %>
      <p><%= "The #{category} should be #{data}" %></p>
    <% end %>
  </div>
</div>

<aside>
  <h2>Today's Weather, in historic trends</h2>
  <h4>Daily Maximum and Minimum Temperature</h4>
  <div class="chart" id="temperature"></div>
  <h4>Wind Speed</h4>
  <div class="chart" id="wind-speed" ></div>
  <h4>Rain probability for the day</h4>
  <div class="chart" id="precip"></div>
<aside>

<script>

var yearList = <%= @years.to_json.html_safe %>;
var minTemp = <%= @min_temperatures.to_json.html_safe %>;
var maxTemp = <%= @max_temperatures.to_json.html_safe %>;

var chart0 = c3.generate({
  bindto: "#temperature",
  data: {
    x: 'x',
    columns: [
      yearList,
      maxTemp,
      minTemp
    ]
  }
});

var windSpeed = <%= @wind_speed.to_json.html_safe %>;

var chart1 = c3.generate({
    bindto: "#wind-speed",
    data: {
      x: 'x',
      columns: [
        yearList,
        windSpeed
      ]
    }
});

var precipProb = <%= @precip_prob.to_json.html_safe %>;

var chart2 = c3.generate({
  bindto: "#precip",
  data: {
    x: 'x',
    columns: [
    yearList,
    precipProb
    ]
  },
});

</script>
