<!DOCTYPE html>
<html>
<head>
  <title>Weathersnoop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
    <li><%= link_to "Home", root_path %></li>
    <% unless logged_in? %>
      <li><%= link_to "Login", session_new_path %></li>
      <li><%= link_to "Sign Up", new_user_path %></li>
    <% else %>
      <li><%= link_to "Logout", logout_path %></li>
    <% end %>
  </ul>

<main>
  <%= yield %>
</main>

</body>
</html>
